.aboutme {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
  font-family: 'Arial', sans-serif;
}

.aboutme-title {
  font-size: 2.5em;
  color: #007fff;
  margin-bottom: 20px;
}

.aboutme-description {
  font-size: 1.2em;
  color: #333;
  max-width: 600px;
  line-height: 1.6;
  margin: 0 auto 15px; /* Add some space between paragraphs */
}

.aboutme-quote {
  font-style: italic; /* Italic style for the quote */
  color: #555; /* Slightly lighter color */
  max-width: 600px;
  margin: 0 auto; /* Center the quote */
  padding-top: 15px; /* Space above the quote */
}
