body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.content {
  padding-top: 50px; 
}

/* Navbar styling */
.navbar {
  display: none; 
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333; 
  color: #fff;
  padding: 1em 2em;
  z-index: 10;
}

.navbar.show {
  display: flex; 
  justify-content: flex-end; /* Align buttons to the right */
  gap: 1em;
}

.navbar button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
  padding: 0.5em 1em;
  transition: color 0.3s;
}

.navbar button:hover {
  color: #ccc; 
}


.section {
  padding: 100px 20px;
  text-align: center;
}

.section h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.section p {
  font-size: 1.2em;
}