/* Home.css */

.home {
  height: 100vh; /* Make it full screen height */
  display: flex; /* Center content */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  color: white; /* Text color */
}
  
  .profile-image {
    width: 210px;
    height: 300px;
    /* border-radius: 70%;
    border: 3px solid #8db8b8; */
    opacity: inherit;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  .name {
    display: inline-block;
    font-size: 2.5rem;
    background: linear-gradient(90deg, #3431ec, hsl(222, 56%, 56%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 0.2s ease, background 0.2s ease;
    position: relative;
    z-index: 1;
  }
  
  .button {
    background-color: #00ffff;
    color: black;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: rgba(0, 255, 255, 0.7);
    transform: scale(1.05);
  }
