.projects {
    color: #00ffff;;
    text-align: center;
    padding: 50px 20px;
    height: 100vh;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two cards per row */
    gap: 20px; /* Space between cards */
    margin-top: 20px; /* Space above the grid */
  }
  
  .card {
    background-color: rgba(0, 255, 255, 0.2);
    border: 2px solid #00ffff;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
  }

  .project-description {
    color: white;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  